<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="$(arg name)">

   <!-- Predefined robot -->
   <xacro:include filename="$(find ur_description)/urdf/ur.urdf.xacro" />

   <!-- Gazebo and ros2control additions -->

   <!-- Initial positions -->
   <xacro:property name="initial_positions_file"
      default="$(arg path_to_config_dir)/initial_positions.yaml" />
   <!-- Description of joints for ros2_control -->
   <xacro:include filename="$(find ur_description)/urdf/inc/ur_joint_control.xacro" />
   <!-- Also force/torque sensors, but unsure if needed -->
   <xacro:include filename="$(find ur_description)/urdf/inc/ur_sensors.xacro" />


   <ros2_control name="$(arg name)" type="system">
      <hardware>
         <plugin>gz_ros2_control/GazeboSimSystem</plugin>
      </hardware>

      <xacro:ur_joint_control_description
         tf_prefix="$(arg tf_prefix)"
         initial_positions="${xacro.load_yaml(initial_positions_file)}"
      />

      <xacro:ur_sensors
         tf_prefix="$(arg tf_prefix)"
      />
   </ros2_control>

   <gazebo>
      <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
         <parameters>$(arg path_to_config_dir)/ur10_controllers.yaml</parameters>
      </plugin>
   </gazebo>

   <!-- Add collision sensor -->



</robot>